/* login.js */
.center {
      
  width: 24rem;
  margin-top: 5%; 
   
}
.centerbutton{
    width:auto;
}
img{
  position: relative;
  width:4rem;
  height: 4rem;
  margin-top: -75; /* Negative half of height. */
  margin-left: 2rem; /* Negative half of width. */
}
.logo{
  display: flex;
  flex-direction: column;
}
.admintb th{
  width:20%;
}

/* index.js */
.centerbox{
    margin: auto;
    width: 50%;
    padding: 10px;
  }
.centerbutton{
    margin-left:45%
}