/* login.js */
.center {
      
  width: 24rem;
  margin-top: 5%; 
   
}
a.disabled {
  pointer-events: none;
  cursor: default;
}
.centerbutton{
    width:auto;
}
.logout{
  margin-right: 2rem;
  margin: 0px 32px 0px 0px;
}
a{
  margin-right: 2rem;
}
img{
  position: relative;
  width:4rem;
  height: 4rem;
  margin-left: 2rem; /* Negative half of width. */
}
.logo{
  display: flex;
  flex-direction: column;
}
.admintb th{
  width:20%;
}

/* index.js */
.centerbox{
    margin: auto;
    width: 50%;
    padding: 10px;
  }
.centerbutton{
    margin-left:45%
}