/* login.js */
.center {
    /* margin: 15% auto auto auto; */
    
    width: 30%;
    margin-top: 5%;
   
    }
.centerbutton{
    width:auto;
}
img{
  position: relative;
  width:45%;
  height: 45%;
  top:0%;
  left: 20%;
  margin-top: -75; /* Negative half of height. */
  margin-left: -75; /* Negative half of width. */
}
.logo{
  display: flex;
  flex-direction: column;
}
.admintb th{
  width:20%;
}

/* index.js */
.centerbox{
    margin: auto;
    width: 50%;
    padding: 10px;
  }
.centerbutton{
    margin-left:45%
}